<%= form_for [:admin, @reserva], :html => { :class => 'form-horizontal' } do |f| %>

			<div class="control-group">
			  <%= f.label :Cliente, :class => 'control-label' %>
			  <div class="controls">
					<%= collection_select(:reserva, :Cliente_id, Cliente.all, :id, :nome, {:prompt => false}) %>
			  </div>
			</div>
			<div class="control-group">
			  <%= f.label :Quarto, :class => 'control-label' %>
			  <div class="controls">
					<%= collection_select(:reserva, :Quarto_id, Quarto.all, :id, :nome, {:prompt => false}) %>
			  </div>
			</div>
      <%= f.text_field :DataEntrada, :class => 'datetimepicker' %>
      <%= f.text_field :DataSaida, :class => 'datetimepicker' %>
			<div class="control-group">
			  <%= f.label :Pagamento, :class => 'control-label' %>
			  <div class="controls">
			<%= select(:reserva, :Pagamento, ['50% pagos', 'Cancelado']) %>
			  </div>
			</div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_reservas_path, :class => 'btn' %>
  </div>
<% end %>
