<%- model_class = Reserva -%>
<div class="page-header">
	<h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
	<dt><strong><%= model_class.human_attribute_name(:Cliente_id) %>:</strong></dt>
	<dd><%= @reserva.Cliente.nome_completo %></dd>
	<dt><strong><%= model_class.human_attribute_name(:Quarto_id) %>:</strong></dt>
	<dd><%= @reserva.Quarto.nome %></dd>
	<dt><strong><%= model_class.human_attribute_name(:DataEntrada) %>:</strong></dt>
	<dd><%= @reserva.DataEntrada %></dd>
	<dt><strong><%= model_class.human_attribute_name(:DataSaida) %>:</strong></dt>
	<dd><%= @reserva.DataSaida %></dd>
	<dt><strong><%= model_class.human_attribute_name(:Pagamento) %>:</strong></dt>
	<dd><%= @reserva.Pagamento %></dd>
</dl>

<%= form_for :checkout, :url => { :action => "checkout_save"}, :html => { :class => 'form-horizontal' } do |f| %>

<%= f.hidden_field :cliente, :class => 'text_field', :value => @reserva.Cliente.nome_completo %>
<%= f.hidden_field :quarto, :class => 'text_field', :value => @reserva.Quarto.nome %>
<%= f.hidden_field :dataEntrada, :class => 'text_field', :value => @reserva.DataEntrada %>
<%= f.hidden_field :dataSaida, :class => 'text_field', :value =>  @reserva.DataSaida %>
<%= f.hidden_field :tipoPagamento, :class => 'text_field', :value => @reserva.Pagamento %>
<%= f.hidden_field :valor_total, :class => 'text_field', :value => 200 %>

<table class="table table-bordered consumo">
	<thead>
		<tr>
			<th style="width: 50px">Quant.</th>
			<th>Descrição</th>
			<th style="width: 200px">Valor Unit.</th>
			<th style="width: 200px">Valor Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<%= @reserva.diarias %>
				<input type="hidden" id="consumo_0_qnt" name="consumo[0][qnt]" class="qnt" value="<%= @reserva.diarias %>" />		
			</td>
			<td>
				Diaria
				<input type="hidden" id="consumo_0_desc" name="consumo[0][desc]" class="desc" value="Diaria" />		
			</td>
			<td>
				<%= @reserva.Quarto.diaria.real_formatado %>
				<input type="hidden" id="consumo_0_valor" name="consumo[0][valor]" class="valor" value="<%= @reserva.Quarto.diaria %>" />		
			</td>
			<td id="total_0" class="total">
				
			</td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<th colspan="3">Valor Total</th>
			<th id="consumo_total">
				
			</th>
		</tr>
	</thead>
</table>

<script>calcula()</script>

<div id="addProduto" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Adicionar Produto</h3>
  </div>
  <div class="modal-body">
		  <input id="quantidade" class="span1" type="number" min="1" placeholder="Quantidade">
			<%= select("produtos","add",Produto.all.collect {|p| [ p.nome, p.id ] }, {:prompt => false}) %>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" data-dismiss="modal" class="btn">Fechar</a>
    <a href="javascript:void(0)" onclick="addProduto()" class="btn btn-primary">Adicionar</a>
  </div>
</div>

<div class="form-actions">
	<%= link_to t('.back', :default => t("helpers.links.back")), admin_reservas_path, :class => 'btn'  %>
	<%= link_to t('.edit', default: t("helpers.links.edit")), edit_admin_reserva_path(@reserva), :class => 'btn' %>
	
	<button type="button" data-toggle="modal" data-target="#addProduto" class="btn btn-success">Adicionar Produto</button>
	
	<%= f.submit 'Checkout', :class => 'btn btn-primary' %>
</div>

<% end %>
