<div class="hero-unit">
	<h1>
		Bem vindo!
	</h1>
	<p>
		Painel Administrativo 
	</p>
</div>

<div class="well summary">
	<ul>
		<li>
			<a href="<%= admin_clientes_url %>"><span class="count"><%= @t_clientes %></span> Clientes</a>
		</li>
		<li>
			<a href="<%= admin_reservas_url %>"><span class="count"><%= @t_reservas %></span> Reservas</a>
		</li>
		<li>
			<a href="<%= admin_reservas_url %>"><span class="count"><%= @t_reservas_ativas %></span> Reservas Ativas</a>
		</li>
		<li class="last">
			<a href="<%= admin_produtos_url %>"><span class="count"><%= @t_produtos %></span> Produtos</a>
		</li>
	</ul>
</div>

<h2>Últimas Reservas</h2>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Quarto</th>
			<th>Cliente</th>
			<th>Data da Reserva</th>
			<th>Data do Registro</th>
			<th>Visualizar</th>
		</tr>
	</thead>
	<tbody>
		<% @u_reservas.each do |reserva| %>
		<tr>
			<td><%= link_to reserva.Quarto.nome, admin_quarto_path(reserva.Quarto) %></td>
			<td><%= link_to reserva.Cliente.nome_completo, admin_cliente_path(reserva.Cliente) %></td>
			<td><%=l reserva.DataEntrada %></td>
			<td><%=l reserva.created_at %></td>
			<td><%= link_to "Visualizar", admin_reserva_path(reserva) %></td>
		</tr>
		<% end %>
	</tbody>
</table>