<%= form_for [:admin,@quarto], :builder => MNE::TwitterBootstrapFormBuilder::FormBuilder, :html => { :class => "form-horizontal" } do |f| %>

<%= f.number_field :solterio, :class => 'number_field', min: '0' %>
<%= f.number_field :casal, :class => 'number_field', min: '0' %>
<%= f.text_field :desc, :class => 'text_field' %>
<%= f.text_field :diaria, :class => 'text_field' %>
<div class="control-group">
	<%= f.label :flags, :class => 'control-label' %>
	<div class="controls">
		<% for flag in Flag.find(:all) %>  
		<%= check_box_tag "quarto[flag_ids][]", flag.id, @quarto.flags.include?(flag) %>  
		<%= flag.nome %>
		<% end %>  
	</div>
</div>
<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	admin_quartos_path, :class => 'btn' %>
</div>
<% end %>
