<%= form_for [:admin,@quarto], :builder => MNE::TwitterBootstrapFormBuilder::FormBuilder, :html => { :class => "form-horizontal", :multipart => true } do |f| %>

<div class="control-group">
	<%= f.label :tipos_quarto, :class => 'control-label' %>
	<div class="controls">
		<%= collection_select(:quarto, :tipos_quarto_id, TiposQuarto.all, :id, :nome, :prompt => true) %>
	</div>
</div>

<%= f.text_field :desc, :class => 'text_field' %>
<%= f.text_field :diaria, :class => 'text_field' %>

<div class="control-group">
	<%= f.label :flags, :class => 'control-label' %>
	<div class="controls">
		<% for flag in Flag.find(:all) %>  
		<%= check_box_tag "quarto[flag_ids][]", flag.id, @quarto.flags.include?(flag) %>  
		<%= flag.nome %>
		<% end %>  
	</div>
</div>

<%= f.file_field :imagem %>

<div class="form-actions">
	<%= f.submit nil, :class => 'btn btn-primary' %>
	<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
	admin_quartos_path, :class => 'btn' %>
</div>
<% end %>
