<%- model_class = Quarto -%>
<div class="page-header">
	<form class="navbar-search pull-right" action="">
		<input type="text" class="search-query" name="q" placeholder="Procurar" value="<%= @pesquisa %>">
	</form>
	<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="quartos">
	<% @quartos.each do |quarto| %>
	<div class="quarto">
		<div class="bg"></div>
		<div class="id">COD: <%= quarto.id %></div>
		<div class="tipo"><%= quarto.tipos_quarto.nome %></div>
		<div class="diaria"><%= quarto.diaria.reais_formatado %></div>
		<div class="flags">
			<% for flag in Flag.find(:all) %> 
			<%= quarto.flags.include?(flag) ? flag.nome : nil %>
			<%= quarto.flags.include?(flag) && flag != quarto.flags.last ? ', ' : nil %>
			<% end %>  
		</div>
		<%= link_to image_tag(quarto.imagem.url(:medium)), admin_quarto_path(quarto) %>
	</div>
	<% end %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
new_admin_quarto_path,
:class => 'btn btn-primary' %>
