<h2>Registrar</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<%= f.text_field :nome, :class => 'text_field' %>
<%= f.text_field :sobrenome, :class => 'text_field' %>
<%= f.text_field :email, :class => 'text_field' %>

<div class="control-group">
	<%= f.label :telefone, :class => 'control-label' %>
	<div class="controls">
		<%= f.telephone_field :telefone, :class => 'text_field phone' %>
	</div>
</div>
<div class="control-group">
	<%= f.label :celular, :class => 'control-label' %>
	<div class="controls">
		<%= f.telephone_field :celular, :class => 'text_field phone' %>
	</div>
</div>

<%= f.text_field :cep, :class => 'text_field cep', onchange: 'carregaEndereco(this)' %>
<%= f.text_field :rua, :class => 'text_field rua' %>
<%= f.text_field :numero, :class => 'text_field numero' %>
<%= f.text_field :complemento, :class => 'text_field complemento' %>
<%= f.text_field :bairro, :class => 'text_field bairro' %>
<%= f.text_field :cidade, :class => 'text_field cidade' %>
<%= f.text_field :estado, :class => 'text_field estado' %>
<%= f.text_field :pais, :class => 'text_field pais' %>

<%= f.password_field :password %>

<%= f.password_field :password_confirmation %>

<%= f.submit "Registrar" %>
	
<% end %>

<%= render "devise/shared/links" %>
